2021-03 WoT Plugfest/flows/AllFlows-04052021
[{"id":"cad799d3.31d768","type":"tab","label":"Test","disabled":false,"info":""},{"id":"590c69.67079398","type":"tab","label":"Experiment","disabled":false,"info":""},{"id":"bb1925f4.858958","type":"tab","label":"adam","disabled":false,"info":""},{"id":"8da03d4d.4143e","type":"tab","label":"Keepalive","disabled":false,"info":""},{"id":"fc856e6b.d9a5a","type":"modbus-client","d":true,"name":"USB-485","clienttype":"serial","bufferCommands":false,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AG0KAJFT-if00-port0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"10","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":500,"parallelUnitIdsAllowed":false},{"id":"7b08375c.3d8af8","type":"ui_tab","name":"DCPS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7b17a96b.9e9018","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":32,"sy":32,"gx":4,"gy":4,"cx":4,"cy":4,"px":0,"py":0}}},{"id":"c0045b95.6920f8","type":"ui_group","name":"DCPS","tab":"7b08375c.3d8af8","order":1,"disp":true,"width":24,"collapse":false},{"id":"a867b60e.947b28","type":"ui_tab","name":"Experiment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ba589ff7.bbf53","type":"ui_group","name":"Experiment","tab":"a867b60e.947b28","order":1,"disp":true,"width":30,"collapse":false},{"id":"508f1006.acc61","type":"modbus-client","d":true,"name":"ADAM","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AR0JZTW4-if00-port0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8450f541.bc45f8","type":"modbus-client","name":"Modbus Proxy","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.0.0.207","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"d6ec8c53.5333e","type":"ui_spacer","name":"spacer","group":"c0045b95.6920f8","order":3,"width":2,"height":1},{"id":"260424b.8e3e6dc","type":"ui_spacer","name":"spacer","group":"c0045b95.6920f8","order":5,"width":10,"height":1},{"id":"8026e4a9.d45af8","type":"ui_spacer","name":"spacer","group":"c0045b95.6920f8","order":10,"width":14,"height":1},{"id":"fb358cf2.eba09","type":"ui_spacer","name":"spacer","group":"c0045b95.6920f8","order":17,"width":16,"height":1},{"id":"900c7bd0.6f08b8","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":5,"width":3,"height":1},{"id":"3ef45361.66127c","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":7,"width":4,"height":1},{"id":"16100b72.bad945","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":9,"width":4,"height":1},{"id":"96b9637d.23a4d","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":11,"width":2,"height":1},{"id":"d8e200b0.bd6f9","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":12,"width":1,"height":1},{"id":"efd08e9f.119c4","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":14,"width":1,"height":1},{"id":"1be6273a.e8e6f9","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":16,"width":1,"height":1},{"id":"3467a981.6e8cc6","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":21,"width":1,"height":1},{"id":"b54f6d35.e8991","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":23,"width":4,"height":1},{"id":"ecd2e4dc.07eeb8","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":25,"width":4,"height":1},{"id":"a29cabf6.5f8128","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":27,"width":4,"height":1},{"id":"b18bdbff.d9dbd8","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":29,"width":2,"height":1},{"id":"291ed474.ea3cdc","type":"ui_spacer","name":"spacer","group":"ba589ff7.bbf53","order":30,"width":2,"height":1},{"id":"633657e5.b16468","type":"modbus-write","z":"cad799d3.31d768","name":"Run/Stop","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4102","quantity":"1","server":"8450f541.bc45f8","emptyMsgOnFail":true,"keepMsgProperties":true,"x":380,"y":120,"wires":[["a7c5b790.b0b8d8"],["ce04894e.fc3a68"]]},{"id":"a7c5b790.b0b8d8","type":"debug","z":"cad799d3.31d768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"5145c68f.446108","type":"inject","z":"cad799d3.31d768","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":120,"wires":[["633657e5.b16468"]]},{"id":"ce04894e.fc3a68","type":"modbus-response","z":"cad799d3.31d768","name":"","registerShowMax":20,"x":650,"y":140,"wires":[]},{"id":"26cd14c8.1fc57c","type":"inject","z":"cad799d3.31d768","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":80,"wires":[["633657e5.b16468"]]},{"id":"8ae2679a.ac01c8","type":"modbus-write","z":"cad799d3.31d768","name":"Set Voltage","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4096","quantity":"1","server":"8450f541.bc45f8","emptyMsgOnFail":true,"keepMsgProperties":true,"x":430,"y":240,"wires":[["13cdbac8.2564d5"],["e519cc68.da082"]]},{"id":"8bf90985.f0a718","type":"modbus-write","z":"cad799d3.31d768","name":"Set Current","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4097","quantity":"1","server":"8450f541.bc45f8","emptyMsgOnFail":true,"keepMsgProperties":true,"x":430,"y":400,"wires":[["c28b8ec0.712f"],["8ad6f35a.fe6d1"]]},{"id":"c10ea38c.d72cd","type":"inject","z":"cad799d3.31d768","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1200","payloadType":"num","x":150,"y":240,"wires":[["8ae2679a.ac01c8"]]},{"id":"b15fb801.534388","type":"inject","z":"cad799d3.31d768","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":150,"y":400,"wires":[["8bf90985.f0a718"]]},{"id":"13cdbac8.2564d5","type":"debug","z":"cad799d3.31d768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"c28b8ec0.712f","type":"debug","z":"cad799d3.31d768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"e519cc68.da082","type":"modbus-response","z":"cad799d3.31d768","name":"","registerShowMax":20,"x":650,"y":260,"wires":[]},{"id":"8ad6f35a.fe6d1","type":"modbus-response","z":"cad799d3.31d768","name":"","registerShowMax":20,"x":650,"y":420,"wires":[]},{"id":"d1053aac.ece288","type":"modbus-flex-getter","z":"cad799d3.31d768","name":"DC Power Supply","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"8450f541.bc45f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":370,"y":560,"wires":[["796062b4.63adac","55104c9f.92ecc4","b713be95.ade35"],["fb60890b.8aac28"]]},{"id":"796062b4.63adac","type":"debug","z":"cad799d3.31d768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":540,"wires":[]},{"id":"fb60890b.8aac28","type":"modbus-response","z":"cad799d3.31d768","name":"","registerShowMax":20,"x":650,"y":580,"wires":[]},{"id":"21f15b48.c1f224","type":"inject","z":"cad799d3.31d768","name":"Read Values","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"unitid\": 1, \"fc\": 3, \"address\": 4096, \"quantity\": 6}","payloadType":"json","x":150,"y":560,"wires":[["d1053aac.ece288"]]},{"id":"181fee28.ca6302","type":"ui_numeric","z":"cad799d3.31d768","name":"","label":"Vset","tooltip":"","group":"c0045b95.6920f8","order":2,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"30","step":"0.1","x":150,"y":280,"wires":[["208c99fa.9b9846"]]},{"id":"208c99fa.9b9846","type":"ui_slider","z":"cad799d3.31d768","name":"","label":"Vset","tooltip":"","group":"c0045b95.6920f8","order":1,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":"0.1","x":150,"y":320,"wires":[["181fee28.ca6302","8fc96390.77eb7"]]},{"id":"a44b9ae9.7f2bf8","type":"ui_switch","z":"cad799d3.31d768","name":"","label":"RUN","tooltip":"","group":"c0045b95.6920f8","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150,"y":160,"wires":[["633657e5.b16468"]]},{"id":"d93969fa.a96b98","type":"ui_slider","z":"cad799d3.31d768","name":"","label":"Iset","tooltip":"","group":"c0045b95.6920f8","order":8,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"10","step":"0.1","x":150,"y":480,"wires":[["d1f5af05.c586e","2c05bcbc.8a0664"]]},{"id":"d1f5af05.c586e","type":"ui_numeric","z":"cad799d3.31d768","name":"","label":"Iset","tooltip":"","group":"c0045b95.6920f8","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.1","x":150,"y":440,"wires":[["d93969fa.a96b98"]]},{"id":"3d2866f7.f4f6da","type":"ui_gauge","z":"cad799d3.31d768","name":"","group":"c0045b95.6920f8","order":6,"width":8,"height":6,"gtype":"gage","title":"Vload","label":"Volts","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":660,"wires":[]},{"id":"a13a16a3.759368","type":"ui_gauge","z":"cad799d3.31d768","name":"","group":"c0045b95.6920f8","order":11,"width":8,"height":6,"gtype":"gage","title":"Iload","label":"Amps","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":760,"wires":[]},{"id":"d3915391.47df9","type":"ui_chart","z":"cad799d3.31d768","name":"","group":"c0045b95.6920f8","order":7,"width":16,"height":6,"label":"Vload","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":700,"wires":[[]]},{"id":"ad63eab.f158a18","type":"ui_chart","z":"cad799d3.31d768","name":"","group":"c0045b95.6920f8","order":12,"width":16,"height":6,"label":"Iload","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":800,"wires":[[]]},{"id":"8fc96390.77eb7","type":"range","z":"cad799d3.31d768","minin":"0","maxin":"30","minout":"0","maxout":"3000","action":"scale","round":false,"property":"payload","name":"x100","x":310,"y":320,"wires":[["8ae2679a.ac01c8"]]},{"id":"2c05bcbc.8a0664","type":"range","z":"cad799d3.31d768","minin":"0","maxin":"10","minout":"0","maxout":"1000","action":"scale","round":true,"property":"payload","name":"x100","x":320,"y":480,"wires":[["8bf90985.f0a718"]]},{"id":"55104c9f.92ecc4","type":"template","z":"cad799d3.31d768","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.2}}","output":"json","x":180,"y":680,"wires":[["a7b51beb.454af8"]]},{"id":"b713be95.ade35","type":"template","z":"cad799d3.31d768","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.3}}","output":"json","x":180,"y":780,"wires":[["755a06c1.733c78"]]},{"id":"a7b51beb.454af8","type":"range","z":"cad799d3.31d768","minin":"0","maxin":"3000","minout":"0","maxout":"30","action":"clamp","round":false,"property":"payload","name":"/100","x":330,"y":680,"wires":[["bd1d573f.3dc4a8"]]},{"id":"755a06c1.733c78","type":"range","z":"cad799d3.31d768","minin":"0","maxin":"1000","minout":"0","maxout":"10","action":"clamp","round":false,"property":"payload","name":"/100","x":330,"y":780,"wires":[["b3a48498.454728"]]},{"id":"bd1d573f.3dc4a8","type":"function","z":"cad799d3.31d768","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":680,"wires":[["3d2866f7.f4f6da","d3915391.47df9","d08edc71.ea7f1"]]},{"id":"b3a48498.454728","type":"function","z":"cad799d3.31d768","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":780,"wires":[["a13a16a3.759368","ad63eab.f158a18","74a3e58e.7fe17c"]]},{"id":"5ede4414.c0163c","type":"file","z":"cad799d3.31d768","name":"/home/mjk/testlog","filename":"/home/mjk/testlog","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":550,"y":920,"wires":[[]]},{"id":"d08edc71.ea7f1","type":"function","z":"cad799d3.31d768","name":"logentry","func":"msg.payload = { \"Vload\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":840,"wires":[["e2ca3111.53ca4"]]},{"id":"e2ca3111.53ca4","type":"debug","z":"cad799d3.31d768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":860,"wires":[]},{"id":"74a3e58e.7fe17c","type":"function","z":"cad799d3.31d768","name":"logentry","func":"msg.payload = { \"Iload\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":900,"wires":[["e2ca3111.53ca4"]]},{"id":"25a4342.385eecc","type":"inject","z":"590c69.67079398","name":"initial 0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":140,"y":40,"wires":[["3999233c.38a8dc","d76cebe0.11eb48","7ef71787.7fa1a8","9a055782.ae3538","26e0896b.8cccf6","45605e1a.33079","911bf97e.f47778"]]},{"id":"9f6bf7ae.cfe0b8","type":"inject","z":"590c69.67079398","name":"Ramp Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":680,"wires":[["7dae914b.05d01"]]},{"id":"396840fe.b9cc4","type":"ui_slider","z":"590c69.67079398","name":"","label":"Vstart","tooltip":"","group":"ba589ff7.bbf53","order":17,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"30","step":".1","x":130,"y":100,"wires":[["9c07171e.8af628","9a055782.ae3538"]]},{"id":"624927bc.b7d9e8","type":"ui_button","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":13,"width":3,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":640,"wires":[["61dee9b8.1adf58"]]},{"id":"9a055782.ae3538","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Vstart","tooltip":"","group":"ba589ff7.bbf53","order":6,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"30","step":".1","x":130,"y":140,"wires":[["396840fe.b9cc4"]]},{"id":"8f0cb856.f30c98","type":"ui_switch","z":"590c69.67079398","name":"PS RUN","label":"PS Run","tooltip":"","group":"ba589ff7.bbf53","order":20,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":560,"wires":[["c71a8ee5.43ab","f346b7eb.973978"]]},{"id":"4cc8d6a.762ab28","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":43,"width":4,"height":3,"gtype":"gage","title":"Vps","label":"VDC","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1340,"wires":[]},{"id":"af692a0e.c9c728","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":44,"width":7,"height":3,"label":"Vps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1380,"wires":[[]]},{"id":"102341c4.80cbae","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":35,"width":4,"height":3,"gtype":"gage","title":"Vset","label":"VDC","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1180,"wires":[]},{"id":"8aed7e8.a57968","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":36,"width":7,"height":3,"label":"Vset","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1220,"wires":[[]]},{"id":"552dcb04.89e954","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":47,"width":4,"height":3,"gtype":"gage","title":"Ips","label":"ADC","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1420,"wires":[]},{"id":"ca3ba5e0.cd9928","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":48,"width":7,"height":3,"label":"Ips","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1460,"wires":[[]]},{"id":"f5cfac1.687a75","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":39,"width":4,"height":3,"gtype":"gage","title":"Iset","label":"ADC","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1260,"wires":[]},{"id":"abc30d6f.f8d41","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":40,"width":7,"height":3,"label":"Iset","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1300,"wires":[[]]},{"id":"e55a90c7.16e28","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":37,"width":6,"height":4,"gtype":"gage","title":"Vht","label":"kV","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1520,"wires":[]},{"id":"3cf01f84.4436e","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":38,"width":13,"height":4,"label":"Vht","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1560,"wires":[[]]},{"id":"8ec30aaf.450f58","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":41,"width":6,"height":4,"gtype":"gage","title":"Iht","label":"mA","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1640,"wires":[]},{"id":"a1949227.ae27d","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":42,"width":13,"height":4,"label":"Iht","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1680,"wires":[[]]},{"id":"78f65fa7.97d8d","type":"ui_gauge","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":45,"width":6,"height":4,"gtype":"gage","title":"T","label":"N","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1760,"wires":[]},{"id":"ca2f96b5.8765a8","type":"ui_chart","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":46,"width":13,"height":4,"label":"T","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1800,"wires":[[]]},{"id":"61026778.2d83f8","type":"ui_slider","z":"590c69.67079398","name":"","label":"Vstep","tooltip":"","group":"ba589ff7.bbf53","order":18,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":10,"step":".1","x":130,"y":200,"wires":[["da7d54df.247488","7ef71787.7fa1a8"]]},{"id":"7ef71787.7fa1a8","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Vstep","tooltip":"","group":"ba589ff7.bbf53","order":8,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"30","step":".1","x":130,"y":240,"wires":[["61026778.2d83f8"]]},{"id":"277b32f9.4aab7e","type":"ui_button","z":"590c69.67079398","name":"","group":"ba589ff7.bbf53","order":15,"width":3,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":110,"y":720,"wires":[["7dae914b.05d01"]]},{"id":"937d9f06.db7bc","type":"ui_slider","z":"590c69.67079398","name":"","label":"Tstep","tooltip":"","group":"ba589ff7.bbf53","order":33,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":10,"step":".1","x":510,"y":200,"wires":[["5941abaa.b36eb4","45605e1a.33079"]]},{"id":"45605e1a.33079","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Tstep","tooltip":"","group":"ba589ff7.bbf53","order":26,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":10,"step":".1","x":510,"y":240,"wires":[["937d9f06.db7bc"]]},{"id":"f04bed8a.bae56","type":"ui_slider","z":"590c69.67079398","name":"","label":"Vstop","tooltip":"","group":"ba589ff7.bbf53","order":32,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"30","step":".1","x":510,"y":100,"wires":[["4935b13e.6f62d","26e0896b.8cccf6"]]},{"id":"26e0896b.8cccf6","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Vstop","tooltip":"","group":"ba589ff7.bbf53","order":24,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"30","step":".1","x":510,"y":140,"wires":[["f04bed8a.bae56"]]},{"id":"2e6a260f.724c2a","type":"ui_slider","z":"590c69.67079398","name":"","label":"Vmaxht","tooltip":"","group":"ba589ff7.bbf53","order":19,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"120","step":1,"x":140,"y":300,"wires":[["f19f1f94.c3251","d76cebe0.11eb48"]]},{"id":"d76cebe0.11eb48","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Vmaxht","tooltip":"","group":"ba589ff7.bbf53","order":10,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":140,"y":340,"wires":[["2e6a260f.724c2a"]]},{"id":"aad76e96.08b91","type":"ui_slider","z":"590c69.67079398","name":"","label":"Imaxht","tooltip":"","group":"ba589ff7.bbf53","order":34,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"2","step":".01","x":510,"y":300,"wires":[["56b42b29.d6b774","911bf97e.f47778"]]},{"id":"911bf97e.f47778","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Imaxht","tooltip":"","group":"ba589ff7.bbf53","order":28,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"2","step":".01","x":510,"y":340,"wires":[["aad76e96.08b91"]]},{"id":"9c07171e.8af628","type":"function","z":"590c69.67079398","name":"Set Vstart","func":"flow.set(\"vstart\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"vstart\", 0)","finalize":"","x":300,"y":100,"wires":[[]]},{"id":"da7d54df.247488","type":"function","z":"590c69.67079398","name":"Set Vstep","func":"flow.set(\"vstep\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"vstep\", 0)","finalize":"","x":300,"y":200,"wires":[[]]},{"id":"5941abaa.b36eb4","type":"function","z":"590c69.67079398","name":"Set Tstep","func":"flow.set(\"tstep\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"tstep\", 1)","finalize":"","x":680,"y":200,"wires":[[]]},{"id":"4935b13e.6f62d","type":"function","z":"590c69.67079398","name":"Set Vstart","func":"flow.set(\"vstop\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"vstop\", 0)","finalize":"","x":680,"y":100,"wires":[[]]},{"id":"f19f1f94.c3251","type":"function","z":"590c69.67079398","name":"Set Vmaxht","func":"flow.set(\"vmaxht\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"vmaxht\", 0)","finalize":"","x":310,"y":300,"wires":[[]]},{"id":"56b42b29.d6b774","type":"function","z":"590c69.67079398","name":"Set Imaxht","func":"flow.set(\"imaxht\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"imaxht\", 0)","finalize":"","x":690,"y":300,"wires":[[]]},{"id":"6da7c3a0.69f8dc","type":"modbus-flex-getter","z":"590c69.67079398","name":"DCPS","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8450f541.bc45f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":110,"y":1120,"wires":[["95f2c2c4.500b9","b7415e6.5c9bea","811d5648.bd4468","9170672.b58d798","8fd5680e.b907b8","cd53e514.6ab4f8","34314c7.23a32b4"],["16be0e89.5fefd1"]]},{"id":"95f2c2c4.500b9","type":"template","z":"590c69.67079398","name":"Vset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.0}}","output":"json","x":270,"y":1200,"wires":[["bdfb1e8b.9ecc9"]]},{"id":"bdfb1e8b.9ecc9","type":"range","z":"590c69.67079398","minin":"0","maxin":"3000","minout":"0","maxout":"30","action":"clamp","round":false,"property":"payload","name":"/100","x":390,"y":1200,"wires":[["ef7e6f8e.ffd16"]]},{"id":"ef7e6f8e.ffd16","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1200,"wires":[["102341c4.80cbae","8aed7e8.a57968","27c93e28.a15122"]]},{"id":"16be0e89.5fefd1","type":"modbus-response","z":"590c69.67079398","name":"","registerShowMax":20,"x":330,"y":1120,"wires":[]},{"id":"b7415e6.5c9bea","type":"template","z":"590c69.67079398","name":"Iset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.1}}","output":"json","x":270,"y":1280,"wires":[["a6a4ab77.36d948"]]},{"id":"a6a4ab77.36d948","type":"range","z":"590c69.67079398","minin":"0","maxin":"1000","minout":"0","maxout":"10","action":"clamp","round":false,"property":"payload","name":"/100","x":390,"y":1280,"wires":[["3a69f5d.e94770a"]]},{"id":"3a69f5d.e94770a","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1280,"wires":[["f5cfac1.687a75","abc30d6f.f8d41","d0637b44.651d58"]]},{"id":"811d5648.bd4468","type":"template","z":"590c69.67079398","name":"Vps","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.2}}","output":"json","x":270,"y":1360,"wires":[["e05bf1a.6e6921"]]},{"id":"e05bf1a.6e6921","type":"range","z":"590c69.67079398","minin":"0","maxin":"3000","minout":"0","maxout":"30","action":"clamp","round":false,"property":"payload","name":"/100","x":390,"y":1360,"wires":[["fe013f46.b38a5"]]},{"id":"fe013f46.b38a5","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1360,"wires":[["4cc8d6a.762ab28","af692a0e.c9c728","f20dfc0b.5d771"]]},{"id":"9170672.b58d798","type":"template","z":"590c69.67079398","name":"Ips","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.3}}","output":"json","x":270,"y":1440,"wires":[["c4269a66.9d8b18"]]},{"id":"c4269a66.9d8b18","type":"range","z":"590c69.67079398","minin":"0","maxin":"1000","minout":"0","maxout":"10","action":"clamp","round":false,"property":"payload","name":"/100","x":390,"y":1440,"wires":[["bf264ce4.70466"]]},{"id":"bf264ce4.70466","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1440,"wires":[["552dcb04.89e954","ca3ba5e0.cd9928","24ca7a0e.250e16"]]},{"id":"27c93e28.a15122","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Vset\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1240,"wires":[["381b57de.815a08"]]},{"id":"d0637b44.651d58","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Iset\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1320,"wires":[["381b57de.815a08"]]},{"id":"f20dfc0b.5d771","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Vps\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1400,"wires":[["381b57de.815a08"]]},{"id":"24ca7a0e.250e16","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Ips\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1480,"wires":[["381b57de.815a08"]]},{"id":"381b57de.815a08","type":"file","z":"590c69.67079398","name":"exp-log","filename":"/home/mjk/experiment-log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":720,"y":1120,"wires":[[]]},{"id":"45bd4095.ffaec","type":"delay","z":"590c69.67079398","name":"Wait for read","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":820,"wires":[["25499ce2.93cfd4"]]},{"id":"f346b7eb.973978","type":"function","z":"590c69.67079398","name":"Read DCPS","func":"msg.payload = {\n    \"unitid\": 1, \n    \"fc\": 3, \n    \"address\": 4096, \n    \"quantity\": 6\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":1000,"wires":[["6da7c3a0.69f8dc","5bda471e.1ed5d8"]]},{"id":"c71a8ee5.43ab","type":"modbus-write","z":"590c69.67079398","name":"Run/Stop","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4102","quantity":"1","server":"8450f541.bc45f8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":480,"y":560,"wires":[["a8206ff4.de84"],["903ebb1.a40a448"]]},{"id":"acdb44a3.66eaf8","type":"modbus-write","z":"590c69.67079398","name":"Set Voltage","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"4096","quantity":"1","server":"8450f541.bc45f8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":490,"y":940,"wires":[["48e5b3d4.43e89c"],["8a35fb5c.069d08"]]},{"id":"a90b3585.ec88d8","type":"modbus-write","z":"590c69.67079398","name":"Set Current","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4097","quantity":"1","server":"8450f541.bc45f8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":470,"y":420,"wires":[["74627eb0.8ffc7"],["5b60ff4c.9d53e"]]},{"id":"a5954540.e4d7f8","type":"range","z":"590c69.67079398","minin":"0","maxin":"30","minout":"0","maxout":"3000","action":"scale","round":false,"property":"payload","name":"x100","x":450,"y":900,"wires":[["acdb44a3.66eaf8"]]},{"id":"37104a77.e56956","type":"range","z":"590c69.67079398","minin":"0","maxin":"10","minout":"0","maxout":"1000","action":"scale","round":true,"property":"payload","name":"x100","x":310,"y":420,"wires":[["a90b3585.ec88d8"]]},{"id":"636d5c5c.105834","type":"delay","z":"590c69.67079398","name":"Wait Tstep","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":900,"wires":[["f346b7eb.973978","989c95b6.6450d8"]]},{"id":"8a35fb5c.069d08","type":"modbus-response","z":"590c69.67079398","name":"","registerShowMax":20,"x":710,"y":960,"wires":[]},{"id":"5b60ff4c.9d53e","type":"modbus-response","z":"590c69.67079398","name":"","registerShowMax":20,"x":710,"y":440,"wires":[]},{"id":"903ebb1.a40a448","type":"modbus-response","z":"590c69.67079398","name":"","registerShowMax":20,"x":710,"y":580,"wires":[]},{"id":"a8206ff4.de84","type":"debug","z":"590c69.67079398","name":"Run Diag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":540,"wires":[]},{"id":"48e5b3d4.43e89c","type":"debug","z":"590c69.67079398","name":"Vset diag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":920,"wires":[]},{"id":"828e7ac5.151ea8","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1540,"wires":[["e55a90c7.16e28","f551d27e.7fab2","3cf01f84.4436e","347f3b0a.1edad4"]]},{"id":"f551d27e.7fab2","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Ips\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1580,"wires":[["381b57de.815a08"]]},{"id":"9c61dbd7.e02f98","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1660,"wires":[["8ec30aaf.450f58","a784978a.500d48","a1949227.ae27d","8950cbd9.56d408"]]},{"id":"ff1eb52c.5df1b8","type":"function","z":"590c69.67079398","name":"decimal","func":"msg.payload = msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1780,"wires":[["78f65fa7.97d8d","d4d6cac.a177638","ca2f96b5.8765a8","451d173.f8ac4e8"]]},{"id":"a784978a.500d48","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Ips\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1700,"wires":[["381b57de.815a08"]]},{"id":"d4d6cac.a177638","type":"function","z":"590c69.67079398","name":"logentry","func":"msg.payload = { \"Ips\": [ Date.now(), msg.payload ] }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1820,"wires":[["381b57de.815a08"]]},{"id":"b5167840.0a9678","type":"modbus-flex-getter","z":"590c69.67079398","name":"RTU","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8450f541.bc45f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":110,"y":1480,"wires":[["e78f16bf.c12d38","85f9f139.f722b","82f8196e.802898"],["58f7a3fe.37752c"]]},{"id":"e78f16bf.c12d38","type":"template","z":"590c69.67079398","name":"Vht","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.0}}","output":"json","x":270,"y":1540,"wires":[["41b0d027.117ed"]]},{"id":"41b0d027.117ed","type":"range","z":"590c69.67079398","minin":"0","maxin":"1200","minout":"0","maxout":"120","action":"clamp","round":false,"property":"payload","name":"120KV","x":390,"y":1540,"wires":[["828e7ac5.151ea8"]]},{"id":"58f7a3fe.37752c","type":"modbus-response","z":"590c69.67079398","name":"","registerShowMax":20,"x":310,"y":1480,"wires":[]},{"id":"85f9f139.f722b","type":"template","z":"590c69.67079398","name":"Iht","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.1}}","output":"json","x":270,"y":1660,"wires":[["b00062da.6cbd1"]]},{"id":"b00062da.6cbd1","type":"range","z":"590c69.67079398","minin":"0","maxin":"2000","minout":"0","maxout":"2","action":"clamp","round":false,"property":"payload","name":"2mA","x":390,"y":1660,"wires":[["9c61dbd7.e02f98"]]},{"id":"82f8196e.802898","type":"template","z":"590c69.67079398","name":"T","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.2}}","output":"json","x":270,"y":1780,"wires":[["b0d61504.ac19b8"]]},{"id":"b0d61504.ac19b8","type":"range","z":"590c69.67079398","minin":"0","maxin":"2000","minout":"0","maxout":"2","action":"clamp","round":false,"property":"payload","name":"2N","x":390,"y":1780,"wires":[["ff1eb52c.5df1b8"]]},{"id":"8a51db35.aa48e8","type":"function","z":"590c69.67079398","name":"Read RTU","func":"msg.payload = {\n    \"unitid\": 2, \n    \"fc\": 3, \n    \"address\": 0, \n    \"quantity\": 3\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":1080,"wires":[["b5167840.0a9678"]]},{"id":"989c95b6.6450d8","type":"function","z":"590c69.67079398","name":"Started?","func":"if(true == flow.get('started')){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":820,"wires":[["45bd4095.ffaec","c8769d57.6e017"]]},{"id":"25499ce2.93cfd4","type":"function","z":"590c69.67079398","name":"Next Vset","func":"if(flow.get('vset') <= flow.get('vstop') && flow.get('vht') <= flow.get('vmaxht') && flow.get('iht') <= flow.get('imaxht')) {\n    msg.payload = flow.get('vset');\n    flow.set('vset', flow.get('vset') + flow.get('vstep'));\n    return [msg, null];\n}\nelse{\n    flow.set('started', false);\n    flow.set('vset', 0);\n    msg.payload = 0;\n    return [msg, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":420,"y":860,"wires":[["a5954540.e4d7f8"],["a1beb677.37ddf8","ee526a30.b9eec8"]]},{"id":"8169cced.bbcc5","type":"ui_slider","z":"590c69.67079398","name":"","label":"Imaxdc","tooltip":"","group":"ba589ff7.bbf53","order":31,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"10","step":".1","x":140,"y":420,"wires":[["3999233c.38a8dc","37104a77.e56956"]]},{"id":"3999233c.38a8dc","type":"ui_numeric","z":"590c69.67079398","name":"","label":"Imaxdc","tooltip":"","group":"ba589ff7.bbf53","order":22,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":".1","x":140,"y":460,"wires":[["8169cced.bbcc5","37104a77.e56956"]]},{"id":"74627eb0.8ffc7","type":"debug","z":"590c69.67079398","name":"Iset diag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":400,"wires":[]},{"id":"61dee9b8.1adf58","type":"function","z":"590c69.67079398","name":"Start","func":"flow.set('started', true);\nflow.set('vset', flow.get('vstart'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":620,"wires":[["989c95b6.6450d8","f346b7eb.973978","645b36fb.7ad238"]]},{"id":"7dae914b.05d01","type":"function","z":"590c69.67079398","name":"Stop","func":"flow.set('started', false);\nflow.set('vset', 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":700,"wires":[["a5954540.e4d7f8","ee526a30.b9eec8","a1beb677.37ddf8"]]},{"id":"8fd5680e.b907b8","type":"debug","z":"590c69.67079398","name":"Read diag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1080,"wires":[]},{"id":"f9d7cc54.2b177","type":"inject","z":"590c69.67079398","name":"Ramp Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":600,"wires":[["61dee9b8.1adf58"]]},{"id":"c8769d57.6e017","type":"function","z":"590c69.67079398","name":"Set Tstep","func":"msg.delay = flow.get('tstep') * 1000;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":860,"wires":[["636d5c5c.105834"]]},{"id":"ee526a30.b9eec8","type":"delay","z":"590c69.67079398","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":720,"wires":[["f346b7eb.973978"]]},{"id":"a1beb677.37ddf8","type":"delay","z":"590c69.67079398","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":680,"wires":[["8f0cb856.f30c98"]]},{"id":"5bda471e.1ed5d8","type":"delay","z":"590c69.67079398","name":"200msec","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":1040,"wires":[["8a51db35.aa48e8"]]},{"id":"347f3b0a.1edad4","type":"function","z":"590c69.67079398","name":"Set Vht","func":"flow.set(\"vht\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"vht\", 0)","finalize":"","x":520,"y":1620,"wires":[[]]},{"id":"8950cbd9.56d408","type":"function","z":"590c69.67079398","name":"Set Iht","func":"flow.set(\"iht\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"iht\", 0)","finalize":"","x":510,"y":1740,"wires":[[]]},{"id":"451d173.f8ac4e8","type":"function","z":"590c69.67079398","name":"Set T","func":"flow.set(\"t\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"t\", 0)","finalize":"","x":510,"y":1860,"wires":[[]]},{"id":"38af78ab.4b8768","type":"comment","z":"590c69.67079398","name":"Tstep Loop","info":"while started do:\nTrigger the power supply setting at the top of the loop and, after a Tstep delay, trigger the measurement at the bottom of the loop.\nTest the flow variable \"started\" at the top to terminate the loop","x":120,"y":780,"wires":[]},{"id":"9f4e03c8.67dad","type":"comment","z":"590c69.67079398","name":"Clean Up","info":"Put the DCPS in stop mode after the last cycle and trigger a final measurement","x":500,"y":640,"wires":[]},{"id":"49ea3a32.dd5614","type":"file","z":"590c69.67079398","name":"exp-log","filename":"/home/mjk/experiment-log","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":720,"y":1080,"wires":[["bfe6cc32.c61b8"]]},{"id":"64fa3664.649508","type":"inject","z":"590c69.67079398","name":"Delete the log file","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":1080,"wires":[["49ea3a32.dd5614"]]},{"id":"bfe6cc32.c61b8","type":"debug","z":"590c69.67079398","name":"Delete diag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1040,"wires":[]},{"id":"ff513117.f6612","type":"comment","z":"590c69.67079398","name":"Intiialize and set params","info":"Set all parameters to 0 on init, and mirror sliders and numeric setters to flow context","x":410,"y":40,"wires":[]},{"id":"df5b2b41.08a238","type":"comment","z":"590c69.67079398","name":"Measurement cycle","info":"Do a read multiple and break out the separate registers by array index\n\nScale to units and convert to decimal fixed point\n\nDisplay on gauge and chart, and store in log with timestamps","x":150,"y":960,"wires":[]},{"id":"168f0879.cb5418","type":"comment","z":"590c69.67079398","name":"Start up","info":"Run switch and experiment start/stop control\nstart sends a 1\nstop sends a 0","x":110,"y":520,"wires":[]},{"id":"edd7892d.c02028","type":"modbus-flex-getter","z":"cad799d3.31d768","name":"RTU","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8450f541.bc45f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":490,"y":1040,"wires":[["3c0c016a.51cdbe"],["1c913c00.d84184"]]},{"id":"3c0c016a.51cdbe","type":"debug","z":"cad799d3.31d768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1020,"wires":[]},{"id":"1c913c00.d84184","type":"modbus-response","z":"cad799d3.31d768","name":"","registerShowMax":20,"x":670,"y":1060,"wires":[]},{"id":"7f2e973.5b57b68","type":"function","z":"cad799d3.31d768","name":"Read RTU","func":"msg.payload = {\n    \"unitid\": 2, \n    \"fc\": 3, \n    \"address\": 0, \n    \"quantity\": 3\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1040,"wires":[["edd7892d.c02028"]]},{"id":"e7bbc35a.1c9e","type":"inject","z":"cad799d3.31d768","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":1040,"wires":[["7f2e973.5b57b68"]]},{"id":"645b36fb.7ad238","type":"change","z":"590c69.67079398","name":"Clear ","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1020,"wires":[["8aed7e8.a57968","abc30d6f.f8d41","af692a0e.c9c728","ca3ba5e0.cd9928","3cf01f84.4436e","a1949227.ae27d","ca2f96b5.8765a8"]]},{"id":"bc9d5acc.04cb48","type":"modbus-flex-getter","z":"bb1925f4.858958","d":true,"name":"GET ADAM","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"508f1006.acc61","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":240,"y":200,"wires":[["21f0bc03.d7ed74"],["1ba38639.34524a"]]},{"id":"1ba38639.34524a","type":"modbus-response","z":"bb1925f4.858958","name":"","registerShowMax":20,"x":470,"y":240,"wires":[]},{"id":"21f0bc03.d7ed74","type":"debug","z":"bb1925f4.858958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"27819b10.e58404","type":"inject","z":"bb1925f4.858958","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"unitid\": 1, \"fc\": 3, \"address\": 0, \"quantity\": 8}","payloadType":"json","x":120,"y":100,"wires":[["bc9d5acc.04cb48"]]},{"id":"6ffa8b64.8d2234","type":"modbus-flex-getter","z":"8da03d4d.4143e","name":"DCPS","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"8450f541.bc45f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":330,"y":160,"wires":[["24232f27.21e63"],["82c51297.781b2"]]},{"id":"82c51297.781b2","type":"modbus-response","z":"8da03d4d.4143e","name":"","registerShowMax":20,"x":510,"y":180,"wires":[]},{"id":"2ddb784c.844a18","type":"inject","z":"8da03d4d.4143e","name":"Read Values","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"unitid\": 1, \"fc\": 3, \"address\": 4096, \"quantity\": 6}","payloadType":"json","x":110,"y":160,"wires":[["6ffa8b64.8d2234"]]},{"id":"24232f27.21e63","type":"debug","z":"8da03d4d.4143e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"90d99217.66846","type":"ui_led","z":"590c69.67079398","order":1,"group":"ba589ff7.bbf53","width":2,"height":1,"label":"r","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"RUN","x":890,"y":1440,"wires":[]},{"id":"cd53e514.6ab4f8","type":"template","z":"590c69.67079398","name":"Run State","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.4}}","output":"json","x":880,"y":1360,"wires":[["30c7202f.0f67"]]},{"id":"30c7202f.0f67","type":"change","z":"590c69.67079398","name":"1=>true","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1400,"wires":[["90d99217.66846"]]},{"id":"84fbfb60.330f08","type":"ui_led","z":"590c69.67079398","order":2,"group":"ba589ff7.bbf53","width":2,"height":1,"label":"v","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#45e845","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"Vreg","x":890,"y":1560,"wires":[]},{"id":"33296f35.e13d4","type":"ui_led","z":"590c69.67079398","order":3,"group":"ba589ff7.bbf53","width":2,"height":1,"label":"i","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#fff78a","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"Ireg","x":890,"y":1640,"wires":[]},{"id":"e3af774.c236f88","type":"ui_led","z":"590c69.67079398","order":4,"group":"ba589ff7.bbf53","width":2,"height":1,"label":"o","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"OC","x":890,"y":1720,"wires":[]},{"id":"6e6aa0a7.83e23","type":"change","z":"590c69.67079398","name":"0=>true","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1520,"wires":[["84fbfb60.330f08"]]},{"id":"34314c7.23a32b4","type":"template","z":"590c69.67079398","name":"Reg State","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.5}}","output":"json","x":880,"y":1480,"wires":[["6e6aa0a7.83e23","e17c42e5.b4e16","3226a00c.f20d2"]]},{"id":"e17c42e5.b4e16","type":"change","z":"590c69.67079398","name":"1=>true","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1600,"wires":[["33296f35.e13d4"]]},{"id":"3226a00c.f20d2","type":"change","z":"590c69.67079398","name":"2=>true","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1680,"wires":[["e3af774.c236f88"]]}]